@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600&display=swap');

* {
            box-sizing: border-box;
        }

        body {
            font-family: inherit;
            width: 100%;
            margin: 0;
            background-color: #fce2b1;
            font-family: "JetBrains Mono", Montserrat, sans-serif;
        }

        nav {
            width : 100%;
            background-color: #fce2b1;
            float: right;
        }
        
        nav ul {
            padding: 30px;
            text-align: right;
            margin-top: 0;
        }
        
        nav li {
            display: inline;
            margin: auto 20px auto auto;
            font-size: 15px;
            padding: 10px;
            background-color: #fce2b1;
        }
        
        nav a {
            color: #4a3523;
            padding: 10px;
            text-decoration: none;
            text-align: center;
        }
        
        nav a:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            border-radius: 10px;
        }
        
        .brownie {
            background-color: #4a3523;
            color: #fce2b1;
        }
        
        h1 {
            width: 100%;
            text-align: center;
            padding-top: 20px;
            background-color: #4a3523;
            /* border-top: 40px dotted rgb(219, 170, 107); */
            font-size: 35px;
            color: #fce2b1;
        }
        
        h2 {
            margin: 0;
            margin-bottom: 15px;
            color: #fce2b1;
        }

        .container {
            width: 100%;
            margin: auto;
            overflow: auto;
            padding: 20px;
            margin-top: 20px;
        }

        .left, aside {
            width: 45%;
            background-color: #4a3523;
            margin: auto;
            padding: 20px;
            text-align: left;
            height: 400px;
            border-radius: 8px;
            text-align: left;
        }

        .left {
            float: left;
            margin-left: 20px;
        }

        aside {
            float: right;
            margin-right: 20px;
        }

        .left:hover, aside:hover {
            box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.2);
            margin-top: -10px;
        }

        th {
            text-align: left;
        }

        input, textarea, select {
            background-color: #fce2b1;
        }

        label {
            color: #fce2b1;
        }

        #submit {
            margin-top: 20%;
            padding: 15px;
            background-color: #fce2b1;
            margin-left: 40%;
            border: #4a3523;
            box-shadow: 1px 1px 3px 0  rgba(0, 0, 0, 0.1);
            border-radius: 100px;
            font-weight: bold;
            color: #4a3523;
        }

        #submit:hover {
            background-color: #4a3523;
            color: #fce2b1;
        }