@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    color: #fce2b1;
    text-align: center;
    position: center;
    overflow: auto;
}

body, html {
    height: 500px;
    background-color: #fce2b1;
}

.bg {
    background-image: url(/assets/images/cafe.jpeg);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome {
    width: 50%;
}

h1 {
    text-align: center;
    margin: 25px 0;
    font-family: Shrikhand;
    background-color: #4a3523;
    letter-spacing: 2px;
    word-spacing: 10px;
    font-size: 50px;
    padding: 10px;
}

.container{
    width:50%;
    padding:20px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0 4px 80px 0 #4a3523;
    background:#4a3523;
    position: fixed;
    top: 25%;
    margin-top: -120px;
    margin-left: 25%;
}

form, h3 {
    font-family: Montserrat;
    font-weight: 500;
}